/*
	MTML-color codes for colors
*/


body {
	background-color: #eee;
	font-family: Helvetica, Arial, sans-serif;
}

/* # for id */
#container{
	background-color: white;
	width: 800px;
	margin-left:auto;
	margin-right:auto;
}

header {
	background-color: #66ccff;
	color: white;
	text-align: center;
	padding: 10px;
}

#content {
	padding: 10px;
}

nav {
	width: 180px;
	float: left;
}

/* class starts with a dot */
nav .selected {
	font-weight: bold;
}

nav a {
	text-decoration: none;
	color: red;
}

nav ul {
	list-style: none;
	margin-left:0;
	padding-left: 0;
}

main {
	width: 600px;
	float:right;
}

footer {
	clear:both;
	text-align: right;
	padding:10px;
	background-color: #999;
	color: white;
}

h1,h2,h3 {
	margin:0;
}

#left-50{
	border: 1px solid;
	width:295px;
	float: left;
	background-color: lightgrey;
}

#right-50{
	border: 1px solid;
	width:295px;
	float:right;
}

article {
	clear: both;
}
